.spacer {
	margin-top: 20px;
}

.table-hover > tbody > tr:hover > td {
  background-color: #428BCA;
  color: #ffffff;
}

.clickable {
	cursor: pointer;
}

#marks_table {
	width: 15%;
}

button[disabled], html input[disabled] {
  cursor: default;
  color: grey;
}